.header{
    font-family: monospace, Arial, sans-serif, 'Segoe UI';
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-image: url("../imagens/usada_header_gettyimages-1325062494-640x640.jpg");
}

.fundo_opaco{
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#main1{    
    font-family: monospace, Arial, sans-serif, 'Segoe UI';
    justify-content: center;
    color: #000000;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    /*flex-direction: row;*/
    background-color: rgb(245, 245, 220);

}

#main2{
    font-family: Arial, sans-serif, 'Segoe UI';
    font-size: 20px;
    padding-left: 20px;
    color: #000000;
    height: auto;
    display: flex;
    justify-content: center;
    line-height: 1.6;
    text-align: justify;
    align-items: center;
    flex-flow: row wrap;
    flex-direction: row;
    background-color: rgb(245, 245, 220);
    /*background-color: rgb(141, 238, 141, 0.2);
    background-color: rgba(173, 223, 173, 0.5);*/
}

.coluna-50{
    width: 50%;
    
    }

.B1{
    font-family: monospace, Arial, sans-serif, 'Segoe UI';
    justify-content: center;
    color: #000000;
    height: auto;
    display: flex;
    flex-direction: row;
    width:100%;
    height:auto;
    background-color: rgba(173, 223, 173, 0.5);
    /*background-image: url("../../temp/pixnio_com_pt_media_escuro-seccao-transversal-de-madeira-marrom-textura.jpg");*/
}
/*
.fundo_opaco2{
    background-color:rgb(107, 79, 47, 0.7);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
*/
.titulo-destaque {
    color: #F5F5F5;
    margin: 0;
    font-size: 1.8rem;
}

.B2{
   font-family: Arial, sans-serif, 'Segoe UI';
    font-size: 20px;
    padding-left: 20px;
    color: #000000;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
    text-align: justify;
    flex-flow: row wrap;
    flex-direction: row;
    background-color: rgba(173, 223, 173, 0.5);
}

.colunasB2{
    width: 50%;
}

.colunasB2 picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.colunasB2 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
